@import "tailwindcss";

/* Navbar Component */
.trapezoid-gradient {
  background: linear-gradient(135deg, #004d66 10%, #003fff 90%);
  clip-path: polygon(40px 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Login Background Component */
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}
